spring:
  application:
    name: safetravel-backend

  datasource:
    url: jdbc:h2:mem:safetraveldb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081
